.button {
    width: 150px;
    height: 30px;
    background: $main-color;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.7s all;
    &:hover {
        transform: scale(1.1);
        background: rgb(255, 0, 0);
    }
    &_main {
        margin-top: 67px;
        width: 303px;
        height: 54px;
        font-size: 16px;
    }
    &_submit {
        width: 303px;
        height: 58px;
        font-size: 16px;
    }
    &_mini {
        width: 135px;
        height: 44px;
        font-size: 14px;
        line-height: 22px;
    }
}